* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


#logo_tx {
    font-size: 40px;
    vertical-align: top;


}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    margin-bottom: 5%;
    padding: 10px;
}


#top_main {

    background-color: white;
    width: 80%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.add_task {
    background-color: #45abe9;
    color: white;
    margin-left: 50px;
}

.add_section.buttons {
    border: 1px solid lightgrey;
    color: lightgrey;
}

.buttons {
    padding: 8px;
    border-radius: 8%;
    font-size: 11px;
}

.bottom_main {
    background-color: white;
    width: 80%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main_tx>div {
    margin: 2rem;
}

.checkmark {
    color: forestgreen;
    border: 1px solid forestgreen;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

.crossmark {
    color: #ea4237;
    border: 1px solid #ea4237;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    color: white;
    border-radius: 12px;
}

.editorial {
    background-color: #45abe9;

}

.Q1_Goals {
    background-color: #9c72e4;

}

.recruting {
    background-color: #64c0a9;

}

.mobile {
    background-color: #f29e33;

}

.website {
    background-color: #d863a1;

}

.sales {
    background-color: #b0c926;

}